.ico_tab:before {
  width: 25px;
  margin-right: 10px;
}

.bin:before {
  content: url("./img/icon/folder-dist.svg");
}

.config:before {
  content: url("./img/icon/folder-config.svg");
}

.public:before {
  content: url("./img/icon/folder-public.svg");
}

.src:before {
  content: url("./img/icon/folder-src.svg");
}

.templates:before {
  content: url("./img/icon/folder-template.svg");
}

.var:before {
  content: url("./img/icon/folder-base.svg");
}

.vendor:before {
  content: url("./img/icon/folder-lib.svg");
}

.env:before {
  content: url("./img/icon/tune.svg");
}

.composer:before {
  content: url("./img/icon/json.svg");
}

.vscode:before {
  content: url("./img/icon/vscode.svg");
}

.php:before {
  content: url("./img/icon/php.svg");
}

.css:before {
  content: url("./img/icon/css.svg");
}

.twig:before {
  content: url("./img/icon/twig.svg");
}

.yaml:before {
  content: url("./img/icon/yaml.svg");
}
