{% block navBar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href=" {{ path('app_home') }}">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_ticket') }}">Ticket</a>
					</li>
					
					<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compte</a>
					<ul class="dropdown-menu">
						{% if app.user %}
							<li><a class="dropdown-item">{{ app.user.Name }}</a></li>
							<li><a class="dropdown-item" href=" {{ path('app_logout')}}">Déconnexion</a></li>
						{% else %}
							<li><a class="dropdown-item">Vous n'êtes pas connecté</a></li>
							<li><a class="dropdown-item" href=" {{ path('app_login')}}">Connexion</a></li>
						{% endif %}
					</ul>
					<li class="nav-item">
						<button type="button" class="btn btn-primary" id="theme">Changer le thème</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
